SUBSYSTEM=="video4linux", ACTION=="add|change", ENV{ID_V4L_PRODUCT}=="Elgato HD60 X: Elgato HD60 X", \
ATTR{index}=="0", TAG+="systemd", SYMLINK+="elgato", \
ENV{SYSTEMD_WANTS}+="elgato.service"


SUBSYSTEM=="video4linux", ACTION=="remove", ENV{ID_V4L_PRODUCT}=="Elgato HD60 X: Elgato HD60 X", \
TAG+="systemd"

